.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-300);
}

.button {
  border-radius: 100vmax;
  font-size: var(--size-500);
  display: inline-flex;
  align-items: center;
  gap: var(--size-200);
  padding: var(--size-200) var(--size-300);
  color: var(--color-white);
  border: var(--size-1) solid var(--color-white);
  cursor: pointer;
  opacity: 0.75;
  transition: opacity var(--ease);
  text-transform: uppercase;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
